<header>
  <div class="container">
    <a routerLink="/" class="logo">{{apptitle}}</a>
    
    <nav>
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/trending" routerLinkActive='active'>Trending</a></li>
        <li><a routerLink="/politics" routerLinkActive='active'>Politics</a></li>
        <li><a routerLink="/sports" routerLinkActive='active'>Sports</a></li>
        <li><a routerLink="/cartoons" routerLinkActive='active'>Cartoons</a></li>
      </ul>
    </nav>
  </div>
</header>